@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    background-color: #F9F5F6
}
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.navbar li a{
    text-decoration: none;
    color: #E8A0BF;
}



.topleft{
    width: 50%;
}

.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color: #E8A0BF;
}

.section1 h1{
    color:#EF9595;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}



.topright .beaut{
    width: 466px;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
    color: #EF9595;
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
    color:#E8A0BF;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid #EF9595;
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
    color:#EF9595
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
    color: #E8A0BF;
}

.box ul{
    list-style-type: none;
}

.box ul li{
   margin: 12px 2px;
   color: #E8A0BF;
}






.section3{
    padding: 73px;
}
.section3 img {
    width: 400px;
    height: 200px;
}
.section3 h1{
    font-size: 2.3rem;
    text-align: center;
    color:#EF9595;
}

footer{
    padding: 23px;
    text-align: center;
    color:#EF9595; 
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}
.min-h-screen{
    min-height: 100vh;
}



.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

.text-blue{
    color: #E8A0BF;;
}



.overflow-x-hidden{
    overflow-x: hidden;
}

.text-center{
    text-align: center;
}

.section4 {
    text-align: center;

}
.section4 h1{
    font-size: 2.3rem;
    margin: 2px;
    color:#EF9595
}
.section4 p{
    margin: 10px;
    color:#E8A0BF
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #DFCCFB;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #BEADFA;
  }

